* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background);
    border: 3px solid var(--accent);
    box-shadow: 1px 3px var(--primary);
    height:60px;
}
.userData {
    display: flex;
    place-items: center;
    height: 60px;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px  solid var(--accent);
    box-shadow: 1px 2px var(--primary);
    background-color: var(--background);
}
.avatar {
    
    height: 50px;
    border-radius: 50%;
}
.postData {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    gap:10px;
    display: flex;
    place-items: center;
    background-color: var(--background);
}
.logo {
    background-color:  transparent;
    padding: 0 30px;
}
#newPost {
    font-size: 20px;
    padding: 10px 15px  ;
    border-radius: 10px;
    border: 2px solid var(--accent);
    box-shadow: 1px 2px var(--primary);
    background-color: var(--background);
}