.postTitle {
  font-size: 23px;
  font-weight: 600;
  word-break: normal;
}
.postAutor {
  font-size: 16px;
  margin: 0 0 10px 0;
}
.postDate {
  color: #7a8195;
  font-size: 15px;
  margin: 20px 0 0 0;
}
.post {
  border: var(--accent) 2px solid;
  box-shadow: 1px 2px var(--primary);
  border-radius: 10px;
  text-align: left;
  padding: 20px 40px;
  width: 45vw;
  background-color: #323435;
  margin-bottom: 5px;
}

.headerPost {
  display: flex;
}
.dot {
  display: block;
  height: 2px;
  width: 2px;
  background-color: var(--text);
}