#root {
  max-width: 100dvw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --text: #a39ec8;
  --background: #242424;
  --primary: #5a2674;
  --secondary: #64624a;
  --accent: #9e6a9f;
}

* {
  color: var(--text);
}

body {
  background-color: var(--background);
}

.postContainer {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.postContainer > div {
  background-color: var(--background);
}

/* "Обертка" для попапа, добавляет затемнение на фон, когда попап открыт */
.overlay {
  position: fixed;

  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  padding: 10px;
  margin: 10px;
}
#title {
  width: 30dvw;
  height: 25px;
}
#text {
  width:30dvw;
  height: 20dvh;
}
.popup {
  padding: 20px;
  width: 50dvw;
  height: 60dvh;
  background-color: var(--background);
  border-radius: 2rem;
}

button {
  padding: 10px 20px;
  margin: 5px;
}

button:hover {
  cursor: pointer;
}
